#!/bin/bash

# Конфигурация
LOCAL_BACKUP_DIR="/backup/media"
REMOTE_HOST="158.160.105.109"
REMOTE_USER="ubuntu"
REMOTE_BACKUP_DIR="/backup"
MEDIAWIKI_DIR="/var/www/mediawiki"

# Поиск последней резервной копии
BACKUP_FILE=$(ls -t $LOCAL_BACKUP_DIR/mediawiki_fs_*.tar.gz | head -n1)
if [ -z "$BACKUP_FILE" ]; then
    echo "Ошибка: Не найдено резервных копий"
    exit 1
fi
BACKUP_FILENAME=$(basename $BACKUP_FILE)

# Отправка резервной копии на удаленный сервер
scp $BACKUP_FILE $REMOTE_USER@$REMOTE_HOST:$REMOTE_BACKUP_DIR/$BACKUP_FILENAME

# Выполнение восстановления на удаленном сервере
ssh $REMOTE_USER@$REMOTE_HOST << EOF
    # Остановка веб-сервера
    sudo systemctl stop nginx
    
    # Восстановление файловой системы
    sudo tar -xzf "$REMOTE_BACKUP_DIR/$BACKUP_FILENAME" -C \$(dirname $MEDIAWIKI_DIR)
    
    # Настройка прав доступа
    sudo chown -R www-data:www-data $MEDIAWIKI_DIR
    sudo chmod 775 $MEDIAWIKI_DIR
    
    # Перезапуск веб-сервера
    sudo systemctl start nginx
EOF

echo "Восстановление файловой системы завершено"
