upstream backend {
    server 51.250.70.205:80 weight=1 max_fails=1 fail_timeout=10s;
    server 158.160.51.159:80 weight=1 max_fails=1 fail_timeout=10s;
}

server {
    listen 3000;
    server_name 158.160.99.241;  # IP прокси-сервера

    location / {
        proxy_pass http://backend;
    }
}
